body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f7; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Display items side by side */
    justify-content: space-between; /* Add space between items */
}

.product-card,
.owner-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%; /* Set width for each card */
}

.product-card img,
.owner-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.product-card h2,
.owner-card h2 {
    margin-top: 0;
}

.product-card .product-details p,
.owner-card .owner-details p {
    margin-bottom: 10px;
}

.options select {
    padding: 8px;
    font-size: 16px;
}

.options button {
    background-color: hsl(120, 9%, 9%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
