
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: calc(20% - 20px); /*Five cards per row with some margin */
    background-color: #e6e6fa;
    height:100%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Car-details {
    margin-top: 20px;
}

.Car-details h3 {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.book-now-box {
    background-color: transparent; /* Set background to transparent */
    padding: 0; /* Remove padding */
    text-align: center;
    border-radius: 5px;
}

.book-now-button {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
   
}

.book-now-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-info p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.social-icons i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
