body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    align-self: flex-start;
}

.page-list {
    align-self: flex-end;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hero {
    background-image: url; 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.search-bar {
    display: flex;
    position: absolute; 
    top: 15px; 
    right: 20px; 
}

.search-bar input, .search-bar button {
    padding: 10px;
}

.search-bar button {
    background-color: #857f7f;
    color: white;
    border: none;
    cursor: pointer;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-info p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.social-icons i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
li{
list-style: none;
}