
*{
    margin: 0;
    padding: 0;
}
body {
    
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hero {
    /* background-image: url('../images/carpic.jpeg');
    background-size: cover;
    background-position: center; */
    color: white;
    text-align: center;
    /* padding: 100px 0; */
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

.search-bar input{
    width: 100px;
    padding: 10px;
}
.search-bar button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.featured-class {
    margin-top: 40px;
    padding: 50px;
}

.car-container {
     display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.car {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.car img {
    width: 100%;
    height: auto;
}

.car h2 {
    font-size: 20px;
    margin-top: 10px;
}

.car p {
    margin: 5px 0;
}
.confirmation-button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.bookButton{
    margin-top: 10px;
    border-radius:15px;
    border: 1px solid black;
    padding: 6px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-info p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.social-icons i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
