*{
    margin: 0;
    padding: 0; 
}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.profile{
    height: 500px;
}
.profile-container {
    height: 800px;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
.profile-container img{
    margin-top: 10px;
}
.user-info {
    margin-top: 20px;
}

.user-info p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.footer-info p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.social-icons i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
